<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Gensan and Colonel</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}/">
</head>
<body>
    <h1>Hi, this is a picture of Gensan</h1>
    <img src="{% static "images/gensan.jpg" %}" width="200" alt="Uh Oh, didn't show">
    <br>
    <img src="{% static "images/colonel.jpg" %}" width="200" alt="Colonel">
    <br>
    <img src="{% static "images/junchan.jpg" %}" width="200" alt="Junchan">

</body>
</html>